@font-face {
    font-family: DS DIGIB;
    src: url(../fonts/DS-DIGIB.ttf);
}


/*HEADER NAV*/
body{background-color: #f1f3f6 !important;font-family: "Open Sans";}
p, span, h1, h2, h3, h4, h5, h6, h7, a{font-weight: 100 !important;text-decoration: none !important;}
a, button, input, .btn, select {border-radius: 0px !important;}

.btn{min-width: 80px;}
.btn:hover{ color: #fff !important; }
.btn:active{ color: #fff !important; }
.btn:focus{ color: #fff !important; }

input[type="text"]{min-height: 34px;}

.full-width{width:100%;padding:40px 0;}
.dp-text-right{text-align: right;}
.dp-text-left{text-align: left;}
.dp-text-center{text-align: center;}
th{background-color: #39495f;color: #fff;border: 0px !important;font-size: 13px;font-weight: 100;}
table{border: 1px solid #ddd;color: #687583;background-color: #fff !important;}
label, .dataTables_info{color: #687583;}

 table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
  
}
table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
  
}
table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color:#fff;;
}


.modal-content{border-radius: 0px !important;}
.close{font-size: 35px !important;font-weight: 100 !important;}
.modal-title{color:#737e89 !important;}
.modal-body i{color: #979797;font-size: 12px;}
.modal-body{color: #687583;}

.modal-body span{font-size: 12px;}

.control-label{font-size: 12px;font-weight: 100;}

.dp-file{border: 1px;border-style: dashed;width: 100%;padding: 20px 0px 20px 0px;background-color: #f4f4f4;text-align: center;}
.dp-file input{opacity: 0; width: 100%;height: 100%;margin-bottom: -21px;cursor: pointer;}
   

.dp-file-download{border: 1px solid #48bdbc;width: 100%;padding: 20px 0px 20px 0px;background-color: #e0f8f8;text-align: center; color: #48bdbc;}
.dp-file-download input{opacity: 0; width: 100%;height: 100%;margin-bottom: -21px;cursor: pointer;}

/*LOGIN PAGE*/
.login-panel{width: 480px; margin: 0 auto; border:1px solid #e8e8e8; background-color: #ffffff; margin-top: 10%;}
.login-panel{width: 480px; margin: 0 auto; border:1px solid #e8e8e8; background-color: #ffffff; margin-top: 10%;}
.login-banner{text-align: center;margin-top: 5%;}
.login-form{width: 390px;margin: 0 auto;margin-top: 5%;}
.login-feed{position: relative;margin-bottom: 15px;}
.login-input{outline-color: #1fb4ae;margin-left: 45px;box-shadow: none;border-color: #b7b7b7;display: block;height: 45px;width: 87%;padding-left: 10px;font-size: 13px;line-height: 1.42857143;color: #2f2d2d;background-color: #fff;background-image: none;border: 1px solid #b7b7b7;border-radius: 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.login-icon{position: absolute;top: 0;left: 0;z-index: 2;display: block;text-align: center;pointer-events: none;border:1px solid #b7b7b7;border-right: 0px;line-height: 1.2 !important;color: #b7b7b7;height: 45px;width: 45px;margin: auto;}

.control {display: block;position: relative;padding-left: 30px;padding-top: 3px;margin-bottom: 15px;cursor: pointer;font-size: 14px;color: #687583;}
.control input {position: absolute;z-index: -1;opacity: 0;}
.control__indicator {position: absolute;top: 2px;left: 0;height: 20px;width: 20px;background: #e6e6e6;}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator { background: #ccc;}
.control input:checked ~ .control__indicator {background: #1fb4ae;}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {background: #1fb4ae;}
.control input:disabled ~ .control__indicator {background: #e6e6e6;opacity: 0.6; pointer-events: none;}
.control__indicator:after {content: '';position: absolute;display: none;}
.control input:checked ~ .control__indicator:after {display: block;}
.control--checkbox .control__indicator:after {left: 8px;top: 4px;width: 3px;height: 8px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
.control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b;}
.login-forgot-pass {float: right; font-size: 14px; color: #1fb4ae; text-decoration: none;}
.btn-login {width: 100%;border: 0px;height: 43px;background-color: #1fb4ae;color: #fff;font-size: 15px;margin-top: 15px;margin-bottom: 20px;outline-color: #00fef4;}
.landing-page-link {width: 480px; margin:0 auto;}
.landing-page-link a {position: relative; top: 175px; font-size: 14px; color:#1fb4ae;}

.register-input {margin-top:20px;outline-color: #1fb4ae;box-shadow: none;border-color: #b7b7b7;display: block;height: 45px;width: 100%;padding-left: 10px;font-size: 13px;line-height: 1.42857143;color: #817e78;background-color: #fff;background-image: none;border: 1px solid #b7b7b7;border-radius: 0px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.firstname {width: 48%; float: left;}
.lastname {width: 48%; float: right;}
.register-terms {color:#1fb4ae;}
.login-now {padding-bottom: 10px;}
.register-section {padding-bottom:20px;}
.register-section a {font-size:14px; color:#1fb4ae;}
.register-feed {font-family: 'Open Sans', sans-serif; font-size: 25px; text-align: center; font-weight: 400!important; color:#4a576a;}
.register-feed-2 {font-family: 'Open Sans', sans-serif; font-size: 14px; text-align: center; font-weight: 300!important; color:#4a576a;}
@media screen and (max-width: 480px){.login-panel {zoom:60%;} }
/*END LOGIN PAGE*/


/*LANDING PAGE*/

.firstsection {background-image: url("../images/Section-1.jpg"); min-height: 100vh; min-width: 100vw; overflow: hidden; background-size: cover; background-position: top right; }
.secondsection {height: auto; min-width: 100vw;text-align: center;background-color: #f8f8f8;}
.thirdsection { height: auto; min-width: 100vw; background-color: #ffffff;}
.fourthsection {background-image: url("../images/forthsection-bg.jpg");    background-size: cover;background-position: top center;height: auto; min-width: 100vw; background-color: #28384f; padding: 50px 0px 80px 0px;}
.fifthsection {min-height: 300px; min-width: 100vw; background-color: #ffffff;}
.sixthsection {min-height: 830px; min-width: 100vw; background-color: #f8f8f8;}
.seventhsection {min-height: 244px; min-width: 100vw; background-color: #1fb4ae;}
.eightsection {min-height: 505px; min-width: 100vw; background-color: #28384f;}
.ninthsection {min-height: 78px; min-width: 100vw; background-color: #1e2c40;color: #fff;}

.secondsection h1 {font-family: 'Open Sans', sans-serif!important; font-size: 35px; margin: 0; padding-top: 72px; color: #3b3b3b; text-align: center; }
.secondsection img{margin: 30px auto;}
.secondsection-sub-title{font-size: 20px;color: #a7a7a7;}
.secondsection .box-element{background-color: #f8f8f8; padding: 10px 2px;margin: 40px auto;}
.secondsection i{background-color: #1fb4ae;color: #fff;padding: 15px 16px;border-radius: 50px;margin: 20px auto;}
.secondsection h4, .secondsection p{margin: 20px auto;}
.secondsection p{ color: #6f6f6f;}
.secondsection .col-md-4{margin-bottom: 50px;}


.thirdsection h1, .thirdsection h4{color: #3b3b3b;}
.thirdsection .sub-title{color: #6f6f6f; line-height: 1.5;}
.thirdsection .second-title{font-size: 20px;padding-top: 20px;}
.thirdsection ul{color: #6f6f6f; list-style-type: none;}
.thirdsection ul li:before{ content: "\f138"; font-family: FontAwesome;display: inline-block;margin-left: -1.3em;width: 1.3em; color: #1fb4ae;font-size: 20px;}



.thirdsection .img-slide{margin-top: 50px; margin-bottom: 50px;}
.thirdsection .img-slide img{ width: auto;}
.thirdsection .right-description{margin-top: 50px; margin-bottom: 50px; color: #fff;font-size: 16px;line-height: 30px; padding-left: 50px;}



.fourthsection h2, .fourthsection p{color: #ffffff;}
.fourthsection p{    padding: 5px 90px; margin-bottom: 40px;}
.fourthsection .img-right{margin-top: 100px;}
.fourthsection  .left-description{margin-top: 100px;color: #fff;font-size: 16px;line-height: 30px;}
.fourthsection .features-btn{ background-color: #ffffff; font-size: 16px;font-weight: bold !important;padding: 18px 22px; margin: 7px;}
.explore-all-features-btn, .explore-all-features-btn:hover{ color: #1fb4ae; }
.get-your-free-trials-btn, .get-your-free-trials-btn:hover{ color: #ffffff; background-color: #28384f !important ;}


.contact-info{list-style-type: none;}
.contact-info li.phone:before{     content: "\f095";font-family: FontAwesome;display: inline-block;margin-left: -1.4em;width: 38px;color: #ffffff;font-size: 21px;background-color: #1fb4ae;padding: 7px 12px;height: 38px;border-radius: 25px;margin-right: 13px;     margin-bottom: 15px;}
.contact-info li.location:before{     content: "\f041";font-family: FontAwesome;display: inline-block;margin-left: -1.4em;width: 38px;color: #ffffff;font-size: 21px;background-color: #1fb4ae;padding: 6px 14px;height: 38px;border-radius: 25px;margin-right: 13px;     margin-bottom: 15px;}
.contact-info li.email:before{     content: "\f003";font-family: FontAwesome;display: inline-block;margin-left: -1.4em;width: 38px;color: #ffffff;font-size: 21px;background-color: #1fb4ae;padding: 5px 9px;height: 38px;border-radius: 25px;margin-right: 13px;    margin-bottom: 15px;}


.login-register { position: relative; top: 17px; }
.bordered-link {border-style: solid; border-width: 1px;}

.landing-nav {margin-top: 37px;}
.landing-nav a {font-family: 'Open Sans', sans-serif !important; font-size: 16px; font-weight: 700!important; color: #fff; padding: 15px 25px;}
.landing-jumbo {position: relative; top: 280px;}
.landing-jumbo h1 {color: #fff; font-size: 64px; font-family: 'Open Sans', sans-serif!important; font-weight: 700!important}
.landing-jumbo h3 {color: #fff; font-size: 42.56px; font-family: 'Open Sans', sans-serif!important; font-weight: 400!important;}
.landing-bt {position: relative; top:320px;}
.landing-arrow-down {position: relative; top:495px;}
.landing-arrow-down i {color: #fff;}


.landing-bt-inner-1 p {color: #fff; position: relative; top:20px; left: 20px; text-align:left; line-height: 0.8em; float: left;}
.landing-bt-inner-1 i {color: #fff; position: relative; right: 30px; top: -10px; font-size: 45.45px; float: right;}
.landing-bt-text1 {font-family: 'Open Sans', sans-serif!important; font-size: 34.38px; font-weight: 700!important;}
.landing-bt-text2 {font-family: 'Open Sans', sans-serif!important; font-size: 20.48px; font-weight: 400!important;}

.box-element h4{color:#3b3b3b; font-weight: bold !important;}

.green{background-color: #1fb4ae !important;color: #fff !important;}
.dark-blue{background-color: #28384f !important;color: #fff !important;}
.white{background-color: #fff !important;color: #1fb4ae !important;}

.landing-btn-section{
    text-decoration:none; 
    padding: 20px 25px;
}

.fifthsection h1{margin: 0 auto; text-align: center;padding-top: 50px;color:#3b3b3b;}
.fifthsection .container{margin-top: 50px;}

.six-intro{text-align: center;}

.six-intro h1{padding-top: 50px;color:#3b3b3b;text-align: center;margin-top: 0px;}
.six-intro .six-subtitle{font-size: 20px;margin: 10px auto;margin-bottom: 30px;color: #979797;text-align: center;}



.sixthsection h3.team-name{color:#3b3b3b;padding: 0px;margin: 0px;margin-top: 10px;}
.sixthsection p.team-position{color:#979797;}
.sixthsection p.team-qoute{color:#6f6f6f;}

.team-div{margin-top: 20px;margin-bottom: 40px;}



.seventhsection h1{margin-top: 18%;color: #fff;}
.seventhsection .right-btn-features{margin-top: 19.5% !important;}


.footer-one, .footer-two, .footer-three{margin-top: 15%;color: #fff;line-height: 25px;font-size: 15px;}
.footer-one img{margin-bottom: 20px;}

.footer-two .col-md-12, .footer-two .col-md-2{padding-left: 0px !important;/*padding-right: 5px !important;*/}
.footer-two{padding-left: 15px;}




.footer-three .form-control{border-radius: 0px !important;}
.footer-three textarea{min-height: 115px;}

.ninthsection h5{margin-top: 2.5%;}


/*END OF LANDING PAGE*/



.dp-right{float: right;}
.dp-left{float: left;}

.dp-white-bg{background-color: #fff;color:#979797;text-decoration: none !important;}
.dp-primary-bg{background-color: #1fb4ae;color:#fff;text-decoration: none !important;}
.dp-default-bg{background-color: #979797;color:#fff;text-decoration: none !important;}
.dp-danger-bg{background-color: #dc4367;color:#fff; text-decoration:none !important;}

.dp-primary{color: #1fb4ae;text-decoration: none !important;}
.dp-default{color: #979797;text-decoration: none !important;}
.dp-danger{color: #dc4367; text-decoration:none !important;}

/*-------HEAD NAVIGATION--------*/
.dp-nav{height: auto;width: 100%;border-bottom: 1px solid #dfe3ea;top: 0;left: 0;right: 0;background-color: #fff;position: fixed;z-index: 3;}
.dp-logo{height: 64px; width: 279px;float: left;margin-top: -5px;}
.dp-nav-menu i {padding: 15px;padding-bottom: 17px;color: #979797;}
.dp-nav-menu i:hover{background-color: #1fb4ae;color: #fff;}
.dp-nav-menu a {display: inline;}
.dp-nav-setting i {padding: 15px;padding-bottom: 17px;color: #979797;}
.dp-nav-setting i:hover{background-color: #1fb4ae;color: #fff;}
.dp-nav-setting a {display: inline;}
.dp-nav-logout i {padding: 15px;padding-bottom: 17px;background-color: #dc4367;color: #fff;}
.dp-nav-logout a {display: inline;}
/*.dp-nav-user{height: 64px;width: 145px;border-left: 1px solid #dfe3ea;border-right: 1px solid #dfe3ea;}*/
.dp-nav-user:hover{background-color: #1fb4ae;color: #fff;}
.dp-logo, .dp-nav-menu, .dp-nav-setting, .dp-nav-logout, .dp-nav-user{display: inline;cursor: pointer;}
/*------END HEAD NAVIGATION-------*/


/*------DASHBOARD PAGE--------*/
.dp-border{border:1px solid #dfe3ea;}
.dp-border-bottom{border-bottom:1px solid #dfe3ea;}
.dp-border-top{border-top:1px solid #dfe3ea;}
.dp-board{background-color: #fff;min-height: 260px;}
.dp-margin-top{/*margin-top: 3%;*/ margin-top: 30px;}
.dp-margin-bottom{margin-bottom: 3%;}
.dp-margin{margin: 15px;}
.board-progress-container{background-color: #f5f5f5;height: 20px;border-radius: 20px;width: 100%;}
.board-progress-bar{height: 100%;width: 100%;background-color: #1fb4ae;border-radius: 20px;}
.board-line-height{line-height: 30px;}
.dp-board-bottom{min-height: 50px;border-top: 1px solid #dfe3ea;background-color: #f7f9fa;color: #979797; margin-top: 40px;}
.dp-board-bottom p{margin: 0 15px;font-size: 13px !important;padding: 15px 0;}
.dp-employee-summary p{font-size: 14px;padding-bottom: 10px;color: #979797;}
.dp-employee-clockin p{font-size: 14px;color: #979797;}
.dp-employee-event p{font-size: 14px;color: #979797;}
.dp-employee-announcement  p{font-size: 14px;color: #979797;padding: 10px 0;}
.dp-anouncement-detail p{padding: 15px 0;width: 80%;}
.dp-employee-gender-chart p{font-size: 14px;color: #979797;}
.dp-employee-payroll-chart p{font-size: 14px;color: #979797;}
.dp-event{line-height: 5px;color: #979797;padding-bottom: 10px;}
.dp-event p{font-size: 14px;}
.dp-announcement {font-size: 14px;padding: 10px 0px;}
.dp-btn-anouncement{background-color: #1fb4ae;padding: 5px 10px;color: #fff;font-size: 20px;border-radius: 20px;border: 0px;text-decoration: none;text-align: right;}
.dp-link-view{font-size: 11px; text-decoration: none;font-weight: lighter;margin-right: 10px;}
.dp-gender-label{font-size: 12px;color:#979797;line-height: 10px;margin-top: 15px;}
.dp-gender-male{background-color: #1fb4ae;padding: 0px 10px;margin-right: 5px;}
.dp-gender-female{background-color: #28384e;padding: 0px 10px;margin-right: 5px;}
.dp-payroll-total{/*width: 150px;*/ width: 16%; line-height: 10px;}
/*-------END DASHBOARD PAGE--------*/



.dp-submenu{max-height:44px;width:100%;border-bottom:1px solid #dfe3ea;top 0; left 0; right: 0;background-color: #fff;margin-top: 61px;}
.dp-submenu ul li{display: inline; text-decoration: none;padding:0px 15px;font-size: 14px;line-height: 40px;max-height: 44px;min-height: 44px;}
.dp-submenu ul li a{display: inline; text-decoration: none; color: #595959;}
.dp-submenu ul li a:hover{display: inline; text-decoration: none; color: #595959 !important;}
.dp-submenu ul li a:active{display: inline; text-decoration: none; color: #1fb4ae !important;}
.dp-submenu ul li a:focus{display: inline; text-decoration: none; color: #1fb4ae !important;}

.dp-submenu ul li:hover{border-bottom: 3px solid #1fb4ae;padding-bottom: 13px;}
.dp-submenu ul li:active{border-bottom: 3px solid #1fb4ae;padding-bottom: 13px;}


.pay-account-banner{background-color: #fff; color:#687583; text-align: center;}
.dp-top-board{top: 0; padding: 20px 0px;border-bottom:1px solid #dfe3ea;}
.dp-top-board p{margin: 0 25px;}
.dp-payroll-account{background-color: #fff;height: auto;/*min-height: 280px;*/}
.dp-payroll-account-msg{background-color: #e0f8f8;height: auto;border: 1px solid #82d4d0;width: 90%; margin: 20px auto;color: #82d4d0; line-height: 15px;}
.dp-payroll-account-msg p{margin: 10px 10px;}
.dp-account-search{width: 90%; margin: 0 auto; height: auto;}
.dp-account-list{width: 90%; margin: 20px auto;}

.top-ytd{margin-top: 30px;background-color: #fff;}
.top-ytd-info{width: 97.5%;margin: 0 auto;padding: 10px 0px 5px 0px;}




.dp-sidebar {
  background-color: #28384e;
  width: 250px;
  height: 100%;
  padding: 0px;
  left: 0;
  display: block;
  position: fixed;
  z-index: 2;
  overflow: auto;
  margin-top: 40px; 


}
.side-menu-title{padding: 10px 15px;width: 100%;background-color: #223248;color:#93a5bd;margin-top: 0px;}


.panel-group {margin-bottom: 0px;}
.panel-heading > a{color: #fff;}
.list-group-item{padding: 10px 15px 10px 30px;background-color: #28384e;color:#fff !important;border: 0px;}
.panel{border: 0px;border-radius: 0px !important;background-color: #28384e !important}
.panel-heading{border: 0px;border-radius: 0px !important;background-color: #223248 !important; padding: 13px 20px;font-size: 14px;}
.panel-heading:hover, .list-group-item:hover{background-color: #1fb4ae !important;}

.active > .panel-heading{background-color: #1fb4ae !important;}

.icon-sidebar{ padding-right: 10px; font-size: 20px;}



.dp-container{width: 80%;margin-top: 1%;margin-left: 290px;}
/*.dp-container p{margin-left: 300px;}*/
.dp-panel-form{margin-left: 0px;background-color: #fff;padding: 2px 30px;padding-bottom: 15px;margin-bottom: 30px;}
.dp-panel-form label{font-size: 14px;}



/*.dp-nav-tab .active{border-right:0px;border-bottom: 3px solid #1fb4ae;}*/
.dp-nav-tab {background-color: #fff;border-bottom: 1px solid #ddd;color: #000;}

.dp-nav-tab li a{padding: 15px;color: #000;}
.dp-nav-tab li a:hover{background-color: #fff;border:0px;border-bottom: 3px solid #1fb4ae;}
.dp-nav-tab li a:active{background-color: #fff;border:0px;border-bottom: 3px solid #1fb4ae;}
.dp-nav-tab li a:focus{background-color: #fff;border:0px;border-bottom: 3px solid #1fb4ae;}


.dp-nav-tab ul{margin-left: 249px; background-color: #fff;border-bottom: 0px;}


.dp-nav-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    /*color: #555;*/
    cursor: default;
    background-color: #fff;
    border:0px;
    border-bottom: 3px solid #1fb4ae;
}





.dp-bundy{border: 1px solid #dcdcdc;padding: 15px 15px 15px 15px;margin-bottom: 30px;}
.dp-bundy label{margin-bottom: -13px;margin-left:10px;margin-right:10px; }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1fb4ae;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}


.example2 .navbar-brand>img {
  padding: 7px 15px!important;
}

.dp-employee-summary .table{     border: 1px solid #fff; color: #979797; background-color: #fff !important; }
.dp-employee-summary .table tr:first-child td{ border-top: 0px solid #fff; }

.dp-employee-summary .table p{  padding-top: 12px; padding-bottom: 0px;}

.dp-employee-primary{ padding: 38px 0px; color: #ffffff;}

.dp-employee-primary h4{ margin-bottom: 0px; margin-top: 25px;}

.dp-employee-primary-img { border-radius: 100px;width: 150px;height: 150px; border: 5px solid #ffffff;}

.dp-employee-primary-circle {background-color: #6ebb4a;height: 25px;width: 25px;border-radius: 100px;border: 5px solid #fff;margin-top: -15px;position: absolute;margin-left: 39%;}
    

.dp-portrait{width:150px;height:200px;background-color: #d5d5d5;}

.alert{border-radius: 0px !important;}


#other_position{ margin-top: 8px; }
.modal2 .modal-dialog{ margin-top: 60px; }

.payslip-head{ background-color: #f3f3f3; padding: 8px 12px; font-weight: bold !important; color: #1fb4ae; }

.payslip-foot p{ background-color: #1fb4ae; color: #ffffff;}

.netPayRounded, .netPayRounded span  { background-color: #f3f3f3; padding: 14px 20px; font-weight: bold !important; color: #1fb4ae; font-size: 19px; text-align: right;}

.netPayRounded span{     margin-right: 30px; }




.active > .panel-heading{background-color: #1fb4ae !important;}





#lineChart{width: 80% !important; height: 255px !important;}


/*Selectize Custom*/
.selectize-input{border-radius: 0px;height: 34px;padding: 6px 12px;}
.selectize-dropdown{border-radius: 0px !important;}


.dp-margin-down{ margin-bottom: 30px;}



.nav-tabs { border-bottom: 2px solid #DDD !important;  }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0 !important; }
.nav-tabs > li > a { border: none; color: #666 !important; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none !important;  background: transparent  !important; }
.nav-tabs > li > a::after { content: ""  !important; background:#1fb4ae  !important; height: 2px  !important; position: absolute  !important; width: 100% !important; left: 0px !important; bottom: -1px !important; transition: all 250ms ease 0s !important; transform: scale(0) !important; }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1) !important;}
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0% !important; color: #fff !important; }
.tab-pane { padding: 15px 0 !important; }
.tab-content{padding:20px  !important;}


.card { border-top: 2px solid #ddd }

.clock-bg{ background-color: #28384e;padding: 10px; }
.clock-bg .time{ font-family: 'DS DIGIB';color: #fff;font-size: 83px;text-align: center;margin-bottom: -22px;padding: 0px;}
.clock-bg .date{ text-align: center;color: #fff;}

.clock-btn{ width: 100%; padding: 10px; background-color: #31ac6b;}























































@media (min-width: 1200px){
.container {
    /*width: 1300px !important;*/
}
@media (min-width: 992px){
.container {
    /*width: 1300px !important;*/
}

.modal-dialog-extended {
  width: 80%;
}

.modal-dialog-extended .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}